header{
    background-color: @accent;
    width: 100%;

    .container{
        padding: 1em 2em;
        text-align: center;
    }

    h1{
        font-size: 2rem;
        font-family: @font-family-mac;
        text-transform: uppercase;
    }
}

footer{
    text-align: center;
    padding: 2em;
    background: @accent;
    font-family: @font-family-mac;

    a{
        font-family: @font-family-mac;
    }
}

.container{
    display: flex;
    justify-content: center;
}

#home{
    .container{
        padding: 2em;
    }
}

.calculator{
    padding: 1.5em;
    padding-top: 0;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .4em;
    box-shadow: 5px 5px 0px 0px @accent;
    border: 2px solid @accent;
}

.screen{
    width: 100%;
    background-color: @white;
    margin-bottom: 1.5em;
    color: @accent;
    display: flex;
    flex-wrap: wrap;
    padding: .6em 1em;
    border-radius: .2em;
    font-size: 1.2rem;
    border: 2px solid @accent;
}

.calcu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3em;
}

p{
    padding-block: 1em;
    text-align: left;
    width: 100%;
    color: @accent;
}

i{
    color: #999;
}

button{
    padding: .8em;
    background-color: @white;
    color: white;
    font-weight: bold;
    border-radius: .4em;
    cursor: pointer;
    color: @black;
    &:hover{
        background-color: #333;
        color: @white;
    }
}

#del, #ac{
    background-color: @red;
}